.wrapper{
    @media ( min-width:1360px ){
        padding-left: 98px;
        display: flex;
    }
}
.title{
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.navbar{
    width: 100%;
    height: fit-content;
    display: flex;
    @media ( min-width:1360px ){
        width: 384px;
    }
    &__protegeAuto{
        width: 120px;
        height: 80px;
        padding: 0px 25px;
        font-family: 'Lato';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        text-transform: uppercase;
        border: 0px solid transparent;
        outline: none;
        background-color: #FFFFFF;
        cursor: pointer;
        @media ( min-width:1360px ){
            width: 128px;
        }
    }
    &__protegeRodean{
        width: 120px;
        height: 80px;
        font-family: 'Lato';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        text-transform: uppercase;
        border: 0px solid transparent;
        outline: none;
        background-color: #FFFFFF;
        cursor: pointer;
        @media ( min-width:1360px ){
            width: 128px;
        }
    }
    &__mejoraPlan{
        width: 120px;
        height: 80px;
        padding: 0px 20px;
        font-family: 'Lato';
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        text-transform: uppercase;
        border: 0px solid transparent;
        outline: none;
        background-color: #FFFFFF;
        cursor: pointer;
        @media ( min-width:1360px ){
            width: 128px;
        }
        
    }
}
.disable{
    color: #494F66;
    border-bottom: 2px solid #E4E8F7;
}
.enable{
    color: #00B2AE;
    border-bottom: 2px solid #00B2AE;
}