@charset "UTF-8";
.llantaRob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 30px 88px;
}

@media (min-width: 1360px) {
  .llantaRob {
    width: 300px;
    min-height: 115px;
    padding: 0 0 0 72px;
  }
}

.llantaRob__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 0px;
}

.llantaRob__img::before {
  content: url(../../../assets/images/armaPlan/llanta-robada.svg);
  position: relative;
  height: 0px;
  width: 0px;
  top: 10px;
  left: -60px;
}

.llantaRob__title {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #494F66;
  margin: 0 0 10px -45px;
}

@media (min-width: 1360px) {
  .llantaRob__title {
    width: 250px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1360px) {
  .llantaRob__isShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
  }
}

.llantaRob__isShow-disable {
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: -15px;
}

@media (min-width: 1360px) {
  .llantaRob__isShow-disable {
    width: 0px;
    height: 0px;
  }
}

.llantaRob__isShow-disable::before {
  content: 'ver más';
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #6F7DFF;
}

@media (min-width: 1360px) {
  .llantaRob__isShow-disable::before {
    display: none;
  }
}

.llantaRob__isShow-disable::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: ">";
  width: 5px;
  height: 5px;
  position: relative;
  left: 95px;
  top: -11px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #6F7DFF;
}

@media (min-width: 1360px) {
  .llantaRob__isShow-disable::after {
    left: 300px;
    top: -40px;
    color: #EF3340;
    opacity: 1;
  }
}

.llantaRob__isShow-enable {
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: -10px;
}

@media (min-width: 1360px) {
  .llantaRob__isShow-enable {
    width: 0px;
    height: 0px;
  }
}

.llantaRob__isShow-enable::before {
  content: 'VER MENOS';
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #A3ABCC;
}

@media (min-width: 1360px) {
  .llantaRob__isShow-enable::before {
    display: none;
  }
}

.llantaRob__isShow-enable::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: ">";
  width: 5px;
  height: 5px;
  position: relative;
  left: 75px;
  top: -8px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #A3ABCC;
}

@media (min-width: 1360px) {
  .llantaRob__isShow-enable::after {
    left: 265px;
    top: -35px;
    color: #EF3340;
    opacity: 1;
  }
}

.llantaRob__switch {
  position: relative;
  left: 80px;
  top: 0px;
}

@media (min-width: 1360px) {
  .llantaRob__switch {
    left: 0;
  }
}

.llantaRob__switch-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2em;
  left: 105px;
  top: -50px;
  line-height: 0;
  outline: none;
  position: absolute;
  width: 0;
}

@media (min-width: 1360px) {
  .llantaRob__switch-btn {
    left: 0px;
    top: 0px;
  }
}

.llantaRob__switch-btn:before {
  content: '';
  position: absolute;
  border-radius: 28px;
  background: #bdc3c7;
  left: -2px;
  top: -2px;
  -webkit-transition: background-color 0.25s ease-out 0.10s;
  transition: background-color 0.25s ease-out 0.10s;
  width: 51px;
  height: 31px;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .llantaRob__switch-btn:before {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    content: 'agregar';
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #6F7DFF;
    left: 30px;
    top: 5px;
  }
}

.llantaRob__switch-btn:after {
  content: '';
  position: absolute;
  -webkit-box-shadow: 0 .0625em .375em 0 #666;
          box-shadow: 0 .0625em .375em 0 #666;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-out 0.10s;
  transition: -webkit-transform 0.25s ease-out 0.10s;
  transition: transform 0.25s ease-out 0.10s;
  transition: transform 0.25s ease-out 0.10s, -webkit-transform 0.25s ease-out 0.10s;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .llantaRob__switch-btn:after {
    width: 22px;
    height: 22px;
    background-color: transparent;
    content: '+';
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    color: #6F7DFF;
    border: 1px solid #6F7DFF;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
  }
}

.llantaRob__switch-btn:checked:after {
  -webkit-transform: translate(19px, 0);
          transform: translate(19px, 0);
}

@media (min-width: 1360px) {
  .llantaRob__switch-btn:checked:after {
    background-color: transparent;
    content: '_';
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700;
    color: #6F7DFF;
    border: 1px solid #6F7DFF;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.llantaRob__switch-btn:checked:before {
  background: #7CC954;
}

@media (min-width: 1360px) {
  .llantaRob__switch-btn:checked:before {
    background-color: transparent;
    content: 'quitar';
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #6F7DFF;
    left: 30px;
    top: 5px;
  }
}

.llantaRob__text-enable {
  width: 240px;
  display: block;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #676F8F;
}

@media (min-width: 1360px) {
  .llantaRob__text-enable {
    width: 279px;
  }
}

.llantaRob__text-disable {
  display: none;
}

.choque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 30px 88px;
}

@media (min-width: 1360px) {
  .choque {
    width: 300px;
    min-height: 115px;
    padding: 0 0 0 72px;
  }
}

.choque__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 0px;
}

.choque__img::before {
  content: url(../../../assets/images/armaPlan/choque-luz-roja.svg);
  position: relative;
  height: 0px;
  width: 0px;
  top: 10px;
  left: -60px;
}

.choque__title {
  width: 150px;
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #494F66;
  margin: 0 0 10px -45px;
}

@media (min-width: 1360px) {
  .choque__title {
    width: 250px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1360px) {
  .choque__isShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
  }
}

.choque__isShow-disable {
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: -15px;
}

.choque__isShow-disable::before {
  content: 'ver más';
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #6F7DFF;
}

@media (min-width: 1360px) {
  .choque__isShow-disable::before {
    display: none;
  }
}

.choque__isShow-disable::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: ">";
  width: 5px;
  height: 5px;
  position: relative;
  left: 95px;
  top: -11px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #6F7DFF;
}

@media (min-width: 1360px) {
  .choque__isShow-disable::after {
    left: 300px;
    top: -60px;
    color: #EF3340;
    opacity: 1;
  }
}

.choque__isShow-enable {
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: -10px;
}

.choque__isShow-enable::before {
  content: 'VER MENOS';
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #A3ABCC;
}

@media (min-width: 1360px) {
  .choque__isShow-enable::before {
    display: none;
  }
}

.choque__isShow-enable::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: ">";
  width: 5px;
  height: 5px;
  position: relative;
  left: 75px;
  top: -8px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #A3ABCC;
}

@media (min-width: 1360px) {
  .choque__isShow-enable::after {
    left: 265px;
    top: -55px;
    color: #EF3340;
    opacity: 1;
  }
}

.choque__switch {
  position: relative;
  left: 80px;
  top: 0px;
}

@media (min-width: 1360px) {
  .choque__switch {
    left: 0;
  }
}

.choque__switch-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2em;
  left: 105px;
  top: -50px;
  line-height: 0;
  outline: none;
  position: absolute;
  width: 0;
}

@media (min-width: 1360px) {
  .choque__switch-btn {
    left: 0px;
    top: 0px;
  }
}

.choque__switch-btn:before {
  content: '';
  position: absolute;
  border-radius: 28px;
  background: #bdc3c7;
  left: -2px;
  top: -2px;
  -webkit-transition: background-color 0.25s ease-out 0.10s;
  transition: background-color 0.25s ease-out 0.10s;
  width: 51px;
  height: 31px;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .choque__switch-btn:before {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    content: 'agregar';
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #6F7DFF;
    left: 30px;
    top: 5px;
  }
}

.choque__switch-btn:after {
  content: '';
  position: absolute;
  -webkit-box-shadow: 0 .0625em .375em 0 #666;
          box-shadow: 0 .0625em .375em 0 #666;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-out 0.10s;
  transition: -webkit-transform 0.25s ease-out 0.10s;
  transition: transform 0.25s ease-out 0.10s;
  transition: transform 0.25s ease-out 0.10s, -webkit-transform 0.25s ease-out 0.10s;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .choque__switch-btn:after {
    width: 22px;
    height: 22px;
    background-color: transparent;
    content: '+';
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    color: #6F7DFF;
    border: 1px solid #6F7DFF;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
  }
}

.choque__switch-btn:checked:after {
  -webkit-transform: translate(19px, 0);
          transform: translate(19px, 0);
}

@media (min-width: 1360px) {
  .choque__switch-btn:checked:after {
    background-color: transparent;
    content: '_';
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700;
    color: #6F7DFF;
    border: 1px solid #6F7DFF;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.choque__switch-btn:checked:before {
  background: #7CC954;
}

@media (min-width: 1360px) {
  .choque__switch-btn:checked:before {
    background-color: transparent;
    content: 'quitar';
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #6F7DFF;
    left: 30px;
    top: 5px;
  }
}

.choque__text-enable {
  width: 240px;
  display: block;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #676F8F;
}

@media (min-width: 1360px) {
  .choque__text-enable {
    width: 279px;
  }
}

.choque__text-disable {
  display: none;
}

.atropello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 30px 88px;
}

@media (min-width: 1360px) {
  .atropello {
    width: 300px;
    min-height: 115px;
    padding: 0 0 0 72px;
  }
}

.atropello__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 0px;
}

.atropello__img::before {
  content: url(../../../assets/images/armaPlan/atropello.svg);
  position: relative;
  height: 0px;
  width: 0px;
  top: 10px;
  left: -60px;
}

.atropello__title {
  width: 150px;
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #494F66;
  margin: 0 0 10px -45px;
}

@media (min-width: 1360px) {
  .atropello__title {
    width: 250px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 1360px) {
  .atropello__isShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 20px;
  }
}

.atropello__isShow-disable {
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: -15px;
}

.atropello__isShow-disable::before {
  content: 'ver más';
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #6F7DFF;
}

@media (min-width: 1360px) {
  .atropello__isShow-disable::before {
    display: none;
  }
}

.atropello__isShow-disable::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: ">";
  width: 5px;
  height: 5px;
  position: relative;
  left: 95px;
  top: -11px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #6F7DFF;
}

@media (min-width: 1360px) {
  .atropello__isShow-disable::after {
    left: 300px;
    top: -60px;
    color: #EF3340;
    opacity: 1;
  }
}

.atropello__isShow-enable {
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: none;
  margin-left: -10px;
}

.atropello__isShow-enable::before {
  content: 'VER MENOS';
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #A3ABCC;
}

@media (min-width: 1360px) {
  .atropello__isShow-enable::before {
    display: none;
  }
}

.atropello__isShow-enable::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: ">";
  width: 5px;
  height: 5px;
  position: relative;
  left: 75px;
  top: -8px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #A3ABCC;
}

@media (min-width: 1360px) {
  .atropello__isShow-enable::after {
    left: 265px;
    top: -55px;
    color: #EF3340;
    opacity: 1;
  }
}

.atropello__switch {
  position: relative;
  left: 80px;
  top: 0px;
}

@media (min-width: 1360px) {
  .atropello__switch {
    left: 0;
  }
}

.atropello__switch-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2em;
  left: 105px;
  top: -50px;
  line-height: 0;
  outline: none;
  position: absolute;
  width: 0;
}

@media (min-width: 1360px) {
  .atropello__switch-btn {
    left: 0px;
    top: 0px;
  }
}

.atropello__switch-btn:before {
  content: '';
  position: absolute;
  border-radius: 28px;
  background: #bdc3c7;
  left: -2px;
  top: -2px;
  -webkit-transition: background-color 0.25s ease-out 0.10s;
  transition: background-color 0.25s ease-out 0.10s;
  width: 51px;
  height: 31px;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .atropello__switch-btn:before {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    content: 'agregar';
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #6F7DFF;
    left: 30px;
    top: 5px;
  }
}

.atropello__switch-btn:after {
  content: '';
  position: absolute;
  -webkit-box-shadow: 0 .0625em .375em 0 #666;
          box-shadow: 0 .0625em .375em 0 #666;
  border-radius: 50%;
  background: #ffffff;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.25s ease-out 0.10s;
  transition: -webkit-transform 0.25s ease-out 0.10s;
  transition: transform 0.25s ease-out 0.10s;
  transition: transform 0.25s ease-out 0.10s, -webkit-transform 0.25s ease-out 0.10s;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

@media (min-width: 1360px) {
  .atropello__switch-btn:after {
    width: 22px;
    height: 22px;
    background-color: transparent;
    content: '+';
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    color: #6F7DFF;
    border: 1px solid #6F7DFF;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
  }
}

.atropello__switch-btn:checked:after {
  -webkit-transform: translate(19px, 0);
          transform: translate(19px, 0);
}

@media (min-width: 1360px) {
  .atropello__switch-btn:checked:after {
    background-color: transparent;
    content: '_';
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700;
    color: #6F7DFF;
    border: 1px solid #6F7DFF;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.atropello__switch-btn:checked:before {
  background: #7CC954;
}

@media (min-width: 1360px) {
  .atropello__switch-btn:checked:before {
    background-color: transparent;
    content: 'quitar';
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
    color: #6F7DFF;
    left: 30px;
    top: 5px;
  }
}

.atropello__text-enable {
  width: 240px;
  display: block;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #676F8F;
}

@media (min-width: 1360px) {
  .atropello__text-enable {
    width: 279px;
  }
}

.atropello__text-disable {
  display: none;
}
/*# sourceMappingURL=Item.module.module.css.map */