.formHome{
    &__cotizalo{
        width: 192px;
        height: 56px;
        display: block;
        margin: 60px auto;
        outline: none;
        border: 0px solid transparent; 
        border-radius: 8px;
        background: #EF3340;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
}
.carDataForm{
    &__continuar{
        width: 296px;
        height: 52px;
        display: block;
        margin: 60px auto;
        outline: none;
        border: 0px solid transparent; 
        border-radius: 8px;
        background: #EF3340;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        @media (min-width:1360px) {
            width: 196px;
            height: 56px;
            margin: 60px 0px;
        }
        &::after{
            content: '>';
            font-family: 'Oswald';
            position: relative; 
            font-size: 20px;
            font-weight: 400;
            right: -60px;
            top: 0px;
            @media (min-width:1360px) {
                right: -15px;
            }
        }
    }
}
.formArmaPlan{
    &__loquiero{
        width: 192px;
        height: 56px;
        display: block;
        outline: none;
        border: 0px solid transparent; 
        border-radius: 8px;
        background: #EF3340;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        margin: 0px 60px;
        @media (min-width:1360px) {
            width: 224px;
            padding: 18px;
            margin: 10px 0px 0px 30px;
        }
    }
}
.gracias{
    &__comoUsarMiSeguro{
        width: 296px;
        height: 56px;
        display: block;
        outline: none;
        border: 0px solid transparent; 
        border-radius: 8px;
        background: #EF3340;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        margin: 40px 0px 0px 0px;
        @media (min-width:1360px) {
            width: 255px;
        }
    }
}