@charset "UTF-8";
.wrapper {
  width: 360px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 32px;
}

@media (min-width: 1360px) {
  .wrapper {
    width: 276px;
    height: 310px;
    margin: 0px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: -280px;
    left: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.amount {
  font-family: 'Lato';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: left;
  color: #494F66;
  margin-left: -60px;
}

@media (min-width: 1360px) {
  .amount {
    margin-left: -35px;
  }
  .amount::after {
    content: url(../../../../assets/images/armaPlan/vf-icon.svg);
    top: 40px;
    position: relative;
    left: 50px;
  }
}

.amount::before {
  content: 'MENSUAL';
  font-family: 'Lato';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  position: relative;
  top: 15px;
  left: 55px;
}

@media (min-width: 1360px) {
  .amount::before {
    content: 'mensuales';
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #676F8F;
    top: 21px;
    left: 60px;
  }
}

.title {
  display: none;
  width: 210px;
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #494F66;
  margin-left: 24px;
  margin-bottom: 0px !important;
  margin-top: 30px;
  padding: 24px 0px 0px;
  border-top: 1px solid #E4E8F7;
}

@media (min-width: 1360px) {
  .title {
    display: block;
  }
}

.listAditionals {
  display: none;
}

@media (min-width: 1360px) {
  .listAditionals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.listAditionals__llanta {
  list-style: none;
  color: #676F8F;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.listAditionals__llanta::before {
  content: '✓';
  color: #43B748;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  position: relative;
  right: 16px;
}

.listAditionals__motor {
  list-style: none;
  color: #676F8F;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.listAditionals__motor::before {
  content: '✓';
  color: #43B748;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  position: relative;
  right: 16px;
}

.listAditionals__aros {
  list-style: none;
  color: #676F8F;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.listAditionals__aros::before {
  content: '✓';
  color: #43B748;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  position: relative;
  right: 16px;
}
/*# sourceMappingURL=TotalAmount.module.module.css.map */