.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    @media ( min-width:1360px ){
        flex-direction: row;
    }
    &__information{
        padding: 32px;
    }
    
}
.img{
    @media ( min-width:1360px ){
        height: 90vh;
        width: 408px !important;
        background-color: #F7F8FC;
        margin-right: 200px;
    }
    &::before{
        content: url(../../assets/images/gracias/man-mobile.png);
        @media ( min-width:1360px ){
            content: url(../../assets/images/gracias/man-desktop.png);
            position: relative;
            left: 90px;
            top: 60px;
        }
    }
}
.title{
    font-family: 'Lato';
    font-size: 28px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-align: left;
    color: #494F66;
    span{
        color: #EF3340;
    }
    @media ( min-width:1360px ){
        width: 480px;
        font-size: 36px;
        line-height: 48px;
    }
}
.subtitle{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    color: #676F8F;
    span{
        font-weight: 300;
    }
    @media ( min-width:1360px ){
        width: 480px;
    }
}