body{
    width: 100%;
    max-width: 560px;
    min-height: 100vh;
    display: block;
    margin: 0 auto;
    @media ( min-width:1360px ){
        max-width: 1360px;
        
    }
}
/**
 * HEADER
 * -------------------------------------------------------------------
 */
.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    @media screen and ( min-width:1360px  ){
        padding: 0px 10%;
    }
    &__callus{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #6769FF;
        &::before{
            content: url(../assets/images/header/phone.svg);
            width: 24px;
            height: 24px;
            position: relative;
            top: 8px;
        }
        @media screen and ( min-width:1360px ){
            display: none;
        }
    }   
    &__desktop{
        display: none;
        @media screen and ( min-width:1360px  ){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__question{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: #676F8F;
        margin: 16px 5px;
    }
    &__numberPhone{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #6769FF;
        margin: 16px 5px;
        position: relative;
        top: -6px;
        &::before{
            content: url(../assets/images/header/phone.svg);
            width: 24px;
            height: 24px;
            position: relative;
            top: 8px;
        }
    }
}
/**
 * HOME
 * -------------------------------------------------------------------
 */
.bannerHome{
    display: flex;
    justify-content: space-between;
    @media screen and ( min-width:1360px  ){
        width: 536px;
        height: 709px;
        background-image: url(../assets/images/home/background.png);
        background-image: 536px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__textWrap{
        padding-left: 33px;
        @media screen and ( min-width:1360px  ){
            display: none;
        }
    }
    &__subtitle{
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.8px;
        text-align: left;
        color: #494F66;
    }
    &__title{
        font-family: 'Lato', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.6px;
        text-align: left;
        color: #494F66;
        span{
            color: #EF3340;
        }
    }
    &__message{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #676F8F;
    }
    &__image{
        min-width: 112px;
        height: 276px;
        background-image: url(../assets/images/home/woman-car-movil.png);
        @media screen and ( min-width:1360px  ){
            background-image: url(../assets/images/home/woman-car-desktop.png);
            width: 320px;
            height: 250px;
            margin-left: 152px;
            margin-top: 96px;
        }
    }
}