html {
  background-color: #1C212F;
}

body {
  width: 360px;
  min-height: 100vh;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 1360px) {
  body {
    width: 1360px;
  }
}

/**
 * UI
 * -------------------------------------------------------------------
 */
/**
 * HEADER
 * -------------------------------------------------------------------
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 32px;
}

@media screen and (min-width: 1360px) {
  .header {
    padding: 0px 10%;
  }
}

.header__callus {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #6769FF;
}

.header__callus::before {
  content: url(../assets/images/header/phone.svg);
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
}

@media screen and (min-width: 1360px) {
  .header__callus {
    display: none;
  }
}

.header__desktop {
  display: none;
}

@media screen and (min-width: 1360px) {
  .header__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__question {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #676F8F;
  margin: 16px 5px;
}

.header__numberPhone {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #6769FF;
  margin: 16px 5px;
  position: relative;
  top: -6px;
}

.header__numberPhone::before {
  content: url(../assets/images/header/phone.svg);
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
}

/**
 * HOME
 * -------------------------------------------------------------------
 */
.bannerHome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 112px;
      grid-template-columns: auto 112px;
  grid-gap: 20px;
}

@media screen and (min-width: 1360px) {
  .bannerHome {
    -ms-grid-columns: 536px;
        grid-template-columns: 536px;
    width: 536px;
    height: 709px;
    background-image: url(../assets/images/home/background.png);
    background-image: 536px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.bannerHome__textWrap {
  padding-left: 33px;
}

@media screen and (min-width: 1360px) {
  .bannerHome__textWrap {
    display: none;
  }
}

.bannerHome__subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #494F66;
}

.bannerHome__title {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #494F66;
}

.bannerHome__title span {
  color: #EF3340;
}

.bannerHome__message {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #676F8F;
}

.bannerHome__image {
  min-width: 112px;
  height: 276px;
  background-image: url(../assets/images/home/woman-car-movil.png);
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (min-width: 1360px) {
  .bannerHome__image {
    background-image: url(../assets/images/home/woman-car-desktop.png);
    width: 320px;
    height: 250px;
    margin-left: 152px;
    margin-top: 96px;
  }
}

.formHome {
  display: block;
  margin: 16px auto;
  width: 296px;
}

.formHome__wrapperDNI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formHome__document-input, .formHome__phone-input, .formHome__placa-input {
  width: 163px;
  height: 20px;
  padding: 16px;
  margin: 7px 0px;
}

.formHome__document-input::-webkit-input-placeholder, .formHome__phone-input::-webkit-input-placeholder, .formHome__placa-input::-webkit-input-placeholder {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.formHome__document-input:-ms-input-placeholder, .formHome__phone-input:-ms-input-placeholder, .formHome__placa-input:-ms-input-placeholder {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.formHome__document-input::-ms-input-placeholder, .formHome__phone-input::-ms-input-placeholder, .formHome__placa-input::-ms-input-placeholder {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.formHome__document-input::placeholder, .formHome__phone-input::placeholder, .formHome__placa-input::placeholder {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.formHome__phone-input, .formHome__placa-input {
  width: 260px;
}

.formHome__tyc-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.formHome__tyc-input:checked ~ .formHome__tyc-checkmark {
  background-color: #43B748;
}

.formHome__tyc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.formHome__tyc-checkmark {
  position: relative;
  left: 0px;
  top: 0px;
  width: 27px;
  height: 15.5px;
  border: 1px solid #494F66;
  border-radius: 4px;
  background-color: #fff;
}

.formHome__tyc-checkmark:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.formHome__tyc-label {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #676F8F;
  margin-left: 10px;
}

.formHome__tyc-label a {
  font-weight: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #676F8F;
}
/*# sourceMappingURL=style.module.css.map */