.footer{
    width: 328px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #A3ABCC;
    border-top: 1px solid #E4E8F7;
    padding: 27px 0px 27px 32px;
    background-color: #FFFFFF;
    @media screen and ( min-width:1360px ){
        display: none;
    }
}